body {
  background-color: #372414;
  font-family: 'sans-serif';
  margin: 0;
  padding: 1rem;
}
header {
  text-align: center;
  color: #fff;
  margin-bottom: 1rem;
}
header h1 {
  font-family: 'Cormorant Garamond', serif;
}
main#malla-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1rem;
  padding: 1rem;
  min-height: 90vh;
  overflow-x: auto;
}

.columna {
  border-radius: 0.75rem;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}
.columna:nth-child(1)  { background-color: #9C6C6C; }
.columna:nth-child(2)  { background-color: #D6A77A; }
.columna:nth-child(3)  { background-color: #B37C53; }
.columna:nth-child(4)  { background-color: #A0663B; }
.columna:nth-child(5)  { background-color: #CC9966; }
.columna:nth-child(6)  { background-color: #C2A383; }
.columna:nth-child(7)  { background-color: #E6CBB3; }
.columna:nth-child(8)  { background-color: #a58c7f; }
.columna:nth-child(9)  { background-color: #867165; }
.columna:nth-child(10) { background-color: #A27B5F;
}
.columna h3 {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-family: 'Sorts Mill Goudy', serif;
}

.materia {
  border: 3px solid gray;
  border-radius: 0.75rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #fdfdfd;
  cursor: pointer;
  transition: transform 0.2s ease;
  font-size: 0.9rem;
  text-align: center;
}

.materia:hover {
  transform: scale(1.03);
}

.general {
  border-color: #a855f7;
  background-color: #f4e9ff;
}
.basica {
  border-color: #22c55e;
  background-color: #e2f7e1;
}
.profesional {
  border-color: #fb923c;
  background-color: #ffeed9;
}

.bloqueada {
  opacity: 0.4;
  pointer-events: none;
}
.aprobada {
  text-decoration: line-through;
  background-color: #d1fae5 !important;
}

footer {
  text-align: center;
  margin-top: 2rem;
  color: white;
}
footer .leyenda span {
  margin-right: 1rem;
  display: inline-block;
}
button#reiniciar {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  background-color: #b91c1c;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
button#reiniciar:hover {
  background-color: #991b1b;
}
